h1 {
    border-left: 4px solid red;
    font-size: 25px;
    padding-left: 10px;
    background-color: lightgoldenrodyellow;
    width: 400px;
}

.main {
    border: 3px solid orange;
    border-radius: 10px;
    padding: 15px;
    background-color: lightgoldenrodyellow;
    width: 370px;
}

input.btn {
    color: white;
    background-color: orange;
    border: 3px solid orange;
    border-radius: 5px;
    box-shadow:2px 2px 2px #555; 
}

